# Import necessary libraries

In [48]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the CSV file into a pandas DataFrame

In [ ]:
try:
    df = pd.read_csv('student-data/ResearchInformation3.csv') # Assuming your CSV is in a 'data' subfolder
except FileNotFoundError:
    df = pd.read_csv('ResearchInformation3.csv') # If CSV is in the same directory as notebook

# Display the first few rows of the DataFrame
df.head()

In [ ]:
# Get some basic info about the dataset (column names, data types, non-null counts)
df.info()

In [ ]:
# Print DataFrame column names to check for 'Last_GPA'
print(df.columns)

In [ ]:
# Bar chart of English Marks (for discrete data)
english_value_counts = df['English'].value_counts().sort_index() # Count frequencies and sort by mark value
plt.figure(figsize=(8, 6))
plt.bar(english_value_counts.index, english_value_counts.values)
plt.title('Frequency of Each English Mark')
plt.xlabel('English Marks')
plt.ylabel('Frequency (Number of Students)')
plt.xticks(english_value_counts.index) # Ensure x-axis ticks are at each mark value
plt.grid(axis='y', linestyle='--', alpha=0.7) # Add horizontal grid lines
plt.show()

# Box plot of English Marks to visualize distribution and outliers

In [ ]:
plt.figure(figsize=(8, 6)) # Adjust figure size if needed
plt.boxplot(df['English'])
plt.title('Box Plot of English Marks')
plt.ylabel('English Marks')
plt.show()

In [ ]:
# Bulk Feature Exploration - Multiple Features at Once

features_to_explore = [
    'Hometown', 'Income', 'Computer', 'Preparation', 'Gaming', 'Attendance',
    'Job', 'Extra', 'Semester', 'Last', 'Overall', 'HSC', 'SSC', 'Department'
] # List of feature names to explore

for feature_name in features_to_explore:
    print(f"\n--- Feature: {feature_name} ---")

    # Check data type
    print(f"  Data Type: {df[feature_name].dtype}")

    # Check unique values (for categorical features - let's check for object type for now)
    if df[feature_name].dtype == 'object':
        unique_values = df[feature_name].unique()
        print(f"  Unique Values: {unique_values}")
        print(f"  Number of Unique Values: {len(unique_values)}")

        # Bar chart for categorical features
        value_counts = df[feature_name].value_counts()
        plt.figure(figsize=(8, 5)) # Adjust figure size as needed
        plt.bar(value_counts.index, value_counts.values)
        plt.title(f'Distribution of {feature_name}')
        plt.xlabel(feature_name)
        plt.ylabel('Frequency')
        plt.xticks(rotation=45, ha='right') # Rotate x-axis labels if needed
        plt.tight_layout() # Adjust layout to prevent labels from overlapping
        plt.show()

    elif df[feature_name].dtype in ['int64', 'float64']: # For numerical features
        # Descriptive statistics for numerical features
        print(f"  Descriptive Statistics:\n{df[feature_name].describe()}")

        # Histogram for numerical features
        plt.figure(figsize=(8, 5))
        plt.hist(df[feature_name], bins=20) # You can adjust bins as needed
        plt.title(f'Distribution of {feature_name}')
        plt.xlabel(feature_name)
        plt.ylabel('Frequency')
        plt.show()
    else:
        print("  Data type not easily handled for exploration in this script.")
        print("  Manual exploration might be needed.")

# Data Preprocessing - One-Hot Encoding for Categorical Features in Bulk

In [57]:
categorical_features = [
    'Gender', 'Hometown', 'Computer', 'Preparation', 'Gaming', 'Attendance',
    'Job', 'Extra', 'Semester', 'Department', 'Income'
] # List of categorical feature names

for feature_name in categorical_features:
    dummies = pd.get_dummies(df[feature_name], prefix=feature_name) # One-hot encode each feature
    df = pd.concat([df, dummies], axis=1) # Concatenate dummies to original DataFrame
    df.drop(feature_name, axis=1, inplace=True) # Drop original categorical column

   Gender_Female  Gender_Male
0          False         True
1           True        False
2          False         True
3          False         True
4           True        False
    HSC   SSC  English   Last  Overall  Gender_Female  Gender_Male  \
0  4.17  4.84        3  3.220    3.350          False         True
1  4.92  5.00        3  3.467    3.467           True        False
2  5.00  4.83        4  4.000    3.720          False         True
3  4.00  4.50        5  3.800    3.750          False         True
4  2.19  3.17        3  3.940    3.940           True        False

   Hometown_City  Hometown_Village  Computer_1  ...  \
0          False              True       False  ...
1           True             False       False  ...
2          False              True       False  ...
3           True             False       False  ...
4          False              True       False  ...

   Income_High (Above 50,000)  Income_High (Above 50,000)   \
0                       False                        False
1                       False                        False
2                       False                        False
3                        True                        False
4                       False                        False

   Income_High (Above 50,000)    Income_Low (Below 15,000)  \
0                         False                       True
1                         False                      False
2                         False                      False
3                         False                      False
4                         False                      False

   Income_Low (Below 15,000)   Income_Lower middle (15,000-30,000)  \
0                       False                                False
1                       False                                False
2                       False                                 True
3                       False                                False
4                       False                                 True

   Income_Lower middle (15,000-30,000)   \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

   Income_Lower middle (15,000-30,000)    Income_Upper middle (30,000-50,000)  \
0                                  False                                False
1                                  False                                 True
2                                  False                                False
3                                  False                                False
4                                  False                                False

   Income_Upper middle (30,000-50,000)
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 59 columns]
(493, 59)

In [ ]:
# Data Preprocessing - One-Hot Encoding for Categorical Features

# One-Hot Encode Multiple Categorical Features in Bulk

categorical_features = [
    'Gender', 'Hometown', 'Computer', 'Preparation', 'Gaming', 'Attendance',
    'Job', 'Extra', 'Semester', 'Department', 'Income'
] # List of categorical feature names

for feature_name in categorical_features:
    dummies = pd.get_dummies(df[feature_name], prefix=feature_name) # One-hot encode each feature
    df = pd.concat([df, dummies], axis=1) # Concatenate dummies to original DataFrame
    df.drop(feature_name, axis=1, inplace=True) # Drop original categorical column

df.head() # Display the first few rows of the DataFrame with one-hot encoded features
df.shape # Display the shape of the DataFrame to see the new number of columns

In [58]:
df.head()

,HSC,SSC,English,Last,Overall,Gender_Female,Gender_Male,Hometown_City,Hometown_Village,Computer_1,...,"Income_High (Above 50,000)","Income_High (Above 50,000)","Income_High (Above 50,000)","Income_Low (Below 15,000)","Income_Low (Below 15,000)","Income_Lower middle (15,000-30,000)","Income_Lower middle (15,000-30,000)","Income_Lower middle (15,000-30,000)","Income_Upper middle (30,000-50,000)","Income_Upper middle (30,000-50,000)"
0,4.17,4.84,3,3.220,3.350,False,True,False,True,False,...,False,False,False,True,False,False,False,False,False,False
1,4.92,5.00,3,3.467,3.467,True,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
2,5.00,4.83,4,4.000,3.720,False,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
3,4.00,4.50,5,3.800,3.750,False,True,True,False,False,...,True,False,False,False,False,False,False,False,False,False
4,2.19,3.17,3,3.940,3.940,True,False,False,True,False,...,False,False,False,False,False,True,False,False,False,False

In [60]:
df.columns

Index(['HSC', 'SSC', 'English', 'Last', 'Overall', 'Gender_Female',
       'Gender_Male', 'Hometown_City', 'Hometown_Village', 'Computer_1',
       'Computer_2', 'Computer_3', 'Computer_4', 'Computer_5',
       'Preparation_0-1 Hour', 'Preparation_2-3 Hours',
       'Preparation_More than 3 Hours', 'Gaming_0-1 Hour', 'Gaming_2-3 Hours',
       'Gaming_More than 3 Hours', 'Attendance_40%-59%', 'Attendance_60%-79%',
       'Attendance_80%-100%', 'Attendance_Below 40%', 'Job_No', 'Job_Yes',
       'Extra_No', 'Extra_Yes', 'Semester_10th', 'Semester_11th',
       'Semester_12th', 'Semester_2nd', 'Semester_3rd', 'Semester_4th',
       'Semester_5th', 'Semester_6th', 'Semester_7th', 'Semester_8th',
       'Semester_9th', 'Department_Business Administration',
       'Department_Computer Science and Engineering', 'Department_Economics',
       'Department_Electrical and Electronic Engineering',
       'Department_English',
       'Department_Journalism, Communication and Media Studies',
       'Department_Law and Human Rights', 'Department_Political Science',
       'Department_Public Health', 'Department_Sociology',
       'Income_High (Above 50,000)', 'Income_High (Above 50,000) ',
       'Income_High (Above 50,000)  ', 'Income_Low (Below 15,000)',
       'Income_Low (Below 15,000) ', 'Income_Lower middle (15,000-30,000)',
       'Income_Lower middle (15,000-30,000) ',
       'Income_Lower middle (15,000-30,000)  ',
       'Income_Upper middle (30,000-50,000)',
       'Income_Upper middle (30,000-50,000) '],
      dtype='object')